DATABASE_URL=postgresql://usuario:password@ep-tu-proyecto-pooler.us-east-1.aws.neon.tech/tu_db?sslmode=require
JWT_SECRET=genera_una_clave_larga_aqui_minimo_32 caracteres
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
RENIEC_API_TOKEN=tu_token_de_apisperu
PORT=10000
NODE_ENV=development
