/* LayoutFondo.css */
.layout-wrapper { 
    position: relative; 
    min-height: 100vh; /* Cambia height por min-height */
    width: 100vw; 
    display: flex;
    flex-direction: column;
}

.fondo-slider {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    z-index: -1; 
}

/* IMPORTANTE: Para que las fotos se vean y no queden blancas */
.fondo-slider img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.contenido-dinamico {
    position: relative;
    z-index: 1;
    flex: 1; 
    display: flex;
    flex-direction: column;
}